.frame-child30,
.frame-child31,
.frame-child32,
.frame-child33,
.frame-child34 {
  width: 6.3px;
  position: absolute;
  margin: 0 !important;
  top: 55px;
  left: 10.9px;
  height: 6px;
  object-fit: cover;
  z-index: 0;
}
.frame-child31,
.frame-child32,
.frame-child33,
.frame-child34 {
  width: 5.7px;
  left: 55.3px;
  height: 5px;
  z-index: 1;
}
.frame-child32,
.frame-child33,
.frame-child34 {
  width: 4.7px;
  top: 42.5px;
  left: 2.7px;
  height: 5.7px;
  z-index: 2;
}
.frame-child33,
.frame-child34 {
  width: 6.7px;
  top: 41.7px;
  left: 62.3px;
  height: 6.6px;
  z-index: 3;
}
.frame-child34 {
  width: 7px;
  top: 63.6px;
  left: 32px;
  height: 6.5px;
  z-index: 4;
}
.frame-child35,
.frame-child36,
.frame-child37,
.frame-child38,
.htmlicon-13 {
  width: 5.5px;
  position: absolute;
  margin: 0 !important;
  top: 24.1px;
  left: 63.6px;
  height: 6.8px;
  object-fit: cover;
  z-index: 5;
}
.frame-child36,
.frame-child37,
.frame-child38,
.htmlicon-13 {
  top: 25.5px;
  left: 1.9px;
  height: 5.7px;
  z-index: 6;
}
.frame-child36,
.frame-child37,
.frame-child38 {
  width: 6.3px;
  top: 9.7px;
  left: 9.9px;
  height: 5.8px;
  z-index: 7;
}
.frame-child37,
.frame-child38 {
  width: 6.4px;
  top: 10.9px;
  left: 54.9px;
  height: 5.1px;
  object-fit: contain;
  z-index: 8;
}
.frame-child38 {
  width: 6.7px;
  top: 0;
  left: 32.1px;
  height: 7.5px;
  z-index: 9;
}
.smallportfoliologo-1-icon4 {
  width: 73px;
  position: relative;
  height: 73px;
  object-fit: cover;
  z-index: 10;
}
.button65,
.rectangle-parent3 {
  position: relative;
  display: flex;
}
.rectangle-parent3 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.button65 {
  flex: 1;
  line-height: 100px;
  align-items: center;
  justify-content: center;
  height: 36px;
}
.button64,
.button66,
.button68 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: inherit;
}
.button64 {
  width: 96px;
  border-radius: var(--br-mini);
  background-color: var(--color-mediumblue);
  height: 45px;
  align-items: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}
.button66,
.button68 {
  cursor: pointer;
}
.button66 {
  width: 111px;
  border-radius: var(--br-mini);
  background-color: var(--color-mediumblue);
  height: 45px;
  align-items: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}
.button66:hover {
  background-color: #9c5df4;
}
.button68 {
  width: 132px;
}
.button68:hover {
  background-color: #aa6dff;
}
.button68,
.button70,
.button72 {
  border-radius: var(--br-mini);
  background-color: var(--color-mediumblue);
  height: 45px;
  align-items: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}
.button70 {
  width: 113px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button70:hover {
  background-color: #a065f2;
}
.button72 {
  text-decoration: none;
  width: 140px;
  cursor: pointer;
  color: inherit;
}
.button72:hover {
  background-color: #a16bed;
}
.button-parent6,
.button72,
.button74 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button74 {
  text-decoration: none;
  width: 117px;
  border-radius: var(--br-mini);
  background-color: var(--color-mediumblue);
  height: 45px;
  align-items: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  cursor: pointer;
  color: inherit;
}
.button74:hover {
  background-color: #a46af6;
}
.button-parent6 {
  align-items: flex-start;
  gap: var(--gap-26xl);
}
.frame-parent7,
.portfolio-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-21xl);
}
.portfolio-inner {
  overflow-y: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.my-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 494px;
  height: 99px;
}
.my-portfolio-wrapper {
  width: 494px;
  position: relative;
  height: 99px;
}
.group-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child39 {
  width: 500px;
  position: relative;
  height: 653.7px;
  flex-shrink: 0;
  object-fit: cover;
}
.dolloardays-1-icon,
.frame-child40,
.frame-child41,
.frame-child42 {
  width: 862.3px;
  position: relative;
  height: 653.7px;
  flex-shrink: 0;
  object-fit: cover;
}
.dolloardays-1-icon,
.frame-child41,
.frame-child42 {
  width: 672.6px;
}
.dolloardays-1-icon,
.frame-child42 {
  width: 586.3px;
}
.frame-child42 {
  width: 671.7px;
}
.dolloardays-2-icon,
.frame-child43,
.frame-child44 {
  width: 650.1px;
  position: relative;
  height: 669px;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child43,
.frame-child44 {
  width: 447.8px;
  height: 600.7px;
}
.frame-child44 {
  width: 487.4px;
  height: 653.7px;
}
.frame-child45,
.frame-child46,
.frame-child48,
.frame-child49,
.frame-child50 {
  width: 464px;
  position: relative;
  height: 624.9px;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child46,
.frame-child48,
.frame-child49,
.frame-child50 {
  width: 462.2px;
}
.frame-child48,
.frame-child49,
.frame-child50 {
  width: 446px;
  height: 600.7px;
}
.frame-child49,
.frame-child50 {
  width: 454.1px;
}
.frame-child50 {
  width: 334.5px;
  height: 572.8px;
}
.rectangle-parent4 {
  position: absolute;
  top: 60px;
  left: 59px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 43.87px;
}
.frame-wrapper {
  width: 1048px;
  position: relative;
  height: 772px;
  overflow-y: auto;
  flex-shrink: 0;
}
.frame-parent8 {
  height: 863px;
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;
  font-size: var(--font-size-45xl);
  color: var(--color-mediumblue);
}
.portfolio,
.portfolio-child {
  width: 1346px;
  position: relative;
  background-color: var(--color-black);
  height: 149px;
}
.portfolio {
  width: 100%;
  background-color: var(--color-gray-500);
  height: 1303px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: 94px;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-inter);
}
